
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');


.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
}

.foundation-box { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}

.foundation { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 5px solid #E3B696;
  padding: 10px;
  margin: 10px;
  line-height: 2;
  font-weight: 300;
  box-shadow: 5px 5px 0px 0px #FFDBAC, 10px 10px 0px 0px #F1C27D, 15px 15px 0px 0px #E0AC69, 20px 20px 0px 0px #C68642, 25px 25px 0px 0px #8D5524, 5px 5px 15px 5px rgba(0,0,0,0);
}



.instructions {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

button{
  background:#E3B696;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin: 10px;
}
button:hover{
  background:#fff;
  color:#E3B696;
}

.upload:before,.upload:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #E3B696;
  transition:400ms ease all;
}
.upload:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.upload:hover:before,.upload:hover:after{
  width:100%;
  transition:800ms ease all;
}
.title {
  font-weight: 400;
}
.steps {
  margin: 10px;
  line-height: 2;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  list-style-type: none;
}

.foundation-img {
  width: 100px;
  height: 100px;
}

.product-img {
  height: 200px;
  width: 200px;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 70px;
}

