
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

.like {
  background:  none;
  border: none;
}

.like:hover{
  transform: scale(2);
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
}

.foundation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.foundation-box { 
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}

.box { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 400px;
  line-height: 1;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease-in-out;
  flex-wrap: wrap;
  list-style-type: none;
  
}

.box:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.instructions {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.upload{
  background:#fff;
  color:#C68642;
  border:none;
  position:relative;
  height:40px;
  font-size:1.6em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-top: 20px;
}
.upload:hover{
  background:#fff;
  color:#E3B696;
}

.upload:before,.upload:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #E3B696;
  transition:400ms ease all;
}
.upload:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.upload:hover:before,.upload:hover:after{
  width:100%;
  transition:800ms ease all;
}

.main {
  background: transparent;
  border:#E3B696 2px solid;
}

.title {
  font-weight: 400;
}
.steps {
  margin: 10px;
  line-height: 2;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  list-style-type: none;
}

.foundation-img {
  width: 50px;
  height: 50px;
}

.product-img {
  height: 150px;
  width: 150px;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 70px;
}

li {
  padding: 5px;
  margin: 5px;

}

.logo {
  height: 50px;
}

